<section id="vehiclesSection">
  <app-header-acquirer/>
  <div class="container mx-auto px-4 sm:px-6 lg:px-28 py-6 flex-wrap items-center justify-between">
    <div class="container mr-auto px-4.5 py-4.5 flex-wrap items-center justify-between">
      <h1 class="text-4xl mr-auto font-bold text-customGreen">Rent or buy minor vehicles</h1>
    </div>
    <div class="container mr-auto px-4.5 py-6 flex items-center justify-between">
      <p>Explore our selection of minor vehicles available for rent or purchaase.</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let vehicle of vehicleData" class="bg-white shadow-md rounded-lg p-4">
        <div class="flex flex-col items-center">
          <span class="text-customGreen font-bold mb-2">{{ vehicle.name }}</span>
          <img [alt]="vehicle.name"
               [src]="getLogoUrl(vehicle.url)"
               class="w-32 h-32 object-cover rounded-lg"
               mat-card-image />
          <div class="mt-2 text-center">
            <p class="text-gray-500 rounded">{{ vehicle.description }}</p>
            <p class="rounded text-customGreen" >Sale: ${{ vehicle.salePrice }}</p>
            <p class="rounded text-customGreen">Rental: ${{ vehicle.rentailPrice }} / Hora</p>
          </div>
          <button
            class="mt-2 bg-customGreen hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            [routerLink]="['/vehicles', vehicle.id]">
            View More
          </button>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- Footer -->
<app-footer></app-footer>
