<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6 text-center text-customGreen">Welcome to EcoMovil</h1>
    <h2 class="text-center mb-6">Register an acquirer by entering your credentials below.</h2>

    <form>
      <div class="flex justify-center mb-6">
        <button
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2"
          routerLink="/login">
          Log in
        </button>
        <button
          class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-2"
          routerLink="/registerAcquirer">
          Register an acquirer
        </button>
        <button
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2"
          routerLink="/registerUniversity">
          Register organization
        </button>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="name">
          Name and Last Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          placeholder="Enter your name and last name"
        />
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
          Email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          placeholder="Enter your email"
        />
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 font-bold mb-2" for="password">
          Password
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>

      <div class="flex items-center mb-6">
        <input
          id="terms"
          type="checkbox"
          class="form-checkbox h-5 w-5 text-green-500"
        />
        <label for="terms" class="ml-2 text-gray-700">
          I've read and accept the
          <a href="#" class="text-green-500 hover:text-green-700">Terms and Conditions</a>
          and
          <a href="#" class="text-green-500 hover:text-green-700">Privacy policy</a>
        </label>
      </div>

      <div class="flex items-center justify-center">
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          routerLink="/home">
          Register an acquirer
        </button>
      </div>
    </form>
  </div>
</div>
