<section id="vehiclesDetailSection">

  <div class="container mx-auto px-4 sm:px-6 lg:px-28 py-6 flex-wrap items-center justify-between">

    <mat-card-actions class="flex justify-center items-center mt-4">
      <button [routerLink]="'/plans'" mat-button color="primary" class="btn bg-green-500 text-white shadow-md ">
        Plans
      </button>
      <button [routerLink]="'/home'" mat-button color="primary" class="btn bg-green-500 text-white shadow-md ">
        Home
      </button>
    </mat-card-actions>

  </div>
</section>
