<div class="container mr-auto px-4.5 py-6 flex items-center justify-between">
  <div >
    <div class="bg-white shadow-md rounded-lg p-4">

      <div class="flex justify-between items-center">
        <span class="font-light text-gray-600">Vehicle</span>
      </div>
      <div class="mt-2">
        <p class="text-customGreen font-bold rounded">{{vehicle.name}}</p>
        <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet accumsan arcu. Nullam nec nunc nec nisi.</p>
      </div>
    </div>
  </div>
</div>
